@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom Scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #2C2C2C; /* color of the thumb (the draggable part) */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #03001c; /* color of the track (background) */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-button {
  background-color: #03001c;
}

.custom-scrollbar::-webkit-scrollbar-corner {
  background-color: #03001c;
}

label:hover .tooltip {
  display: block;
}

.tooltip {
  display: none;
  position: relative;
  background-color: #000;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
  font-size: 0.875rem;
  white-space:initial;
  
}

.bg-metrics {
  background-color: #202020;  /* A darker background for metrics */
}
.text-metrics {
  color: #e2e8f0;  /* Light gray color for text */
}